<!doctype html>
<html>
  <head>
    <title>Typing Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class = "w3-container w3-center">
        <h1 id="timer" class="w3-text-lime"></h1>
    </div>



    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <!-- normal script imports etc  -->
    <script src="jquery-3.1.0.min.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
    <script src="script.js"></script>
  </body>
</html>
